# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2022_java\2022_huaweiOD_test_java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
